<%= image_tag("chill.jpg", alt: "Example image")%>
<br>
	<h1> Name: </h1>
	<%= @named %>
<br>
	<h1>Place of Birth: </h1>
	<%= @place %>
<br>
	<h1>Date Born: </h1>
	<%= @year %>
<br>
	<h1>Fun Fact: </h1>
	<%= @fact %>
<br>
	<h1>What I'm Excited For: </h1>
	<%= @excite %>